.rounded-btn {
    border-radius: 30px;
}
.rounded-tb {
    border-radius: 100px;
}
.pic_covid {
    max-width: 130px;
    height: auto;
}
.divide_ {
    height: 50px;
}
.btn_interg {
    cursor: pointer;
    user-select: none;
}