div {
    color: white;
}
.text-title {
    color: #4d31fa;
}
.btn-bg {
    background-color: #2f3447;
}
.layer-bg {
    background-color: #2f3447;
}
.ic-active {
    color: #795ef1;
}
.ic-deaths {
    color: #f55a3b;
}
.ic-confirmed {
    color: #ff9113;
}
.ic-recovered {
    color: #3bdd9d;
}
.text_confirmed {
    color: #ff9113;
    font-weight: 900;
    margin-left: 15px;
}
.text_deaths {
    color: #f55a3b;
    font-weight: 900;
}
.text_active {
    color: #795ef1;
    font-weight: 900;
}
.text_recovered {
    color: #3bdd9d;
    font-weight: 900;
}
.num_confirmed {
    font-weight: 900;
    font-size: 24px;
}
.num_deaths {
    font-weight: 900;
    font-size: 24px;
}
.num_active {
    font-weight: 900;
    font-size: 24px;
}
.num_recovered {
    font-weight: 900;
    font-size: 24px;
}
