div {
    color: white;
}
.text-title {
    color :#4D31FA;
}
.btn-bg {
    background-color: #2F3447;
}
.layer-bg {
    background-color: #2F3447;
}
.ic-active {
    color : #795EF1
}
.ic-deaths {
    color: #F55A3B;
}
.ic-confirmed {
    color: #FF9113;
}
.ic-recovered {
    color: #3BDD9D;
}