.footer {
    background-color: white;
    border-bottom: 8px solid #0e1631;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    // background-attachment: ;
    width: 100%;
    .footer_content {
        .footer_top {
            padding: 50px 0;
            .footer__item {
                .fotter__list-item {
                    list-style: none;
                    .footer__text-bold {
                        text-decoration: none;
                        color: #502181;
                        font-size: 13px;
                        font-weight: 700;
                    }
                }
                .text-normal {
                    text-decoration: none;
                    color: #502181;
                    font-size: 13px;
                    font-weight: 400;
                }
            }
        }
        .footer_bot {
            margin-bottom: 20px;
            .footer__bot--left {
                .footer_img {
                    width: 15%;
                    margin-right: 30px;
                }
                span {
                    align-self: center;
                    color: #502181;
                    font-size: 13px;
                    font-weight: 400;
                }
            }
            .footer__bot--right {
                display: flex;
                justify-content: end;
                align-items: flex-end;
                align-self: center;
                color: #502181;
                font-size: 13px;
                font-weight: 400;
                text-align: center;
                h6 {
                    font-size: 1.2rem;
                    color: #502181;
                    a {
                        font-size: 2rem;
                        text-decoration: none;
                        color: #502181;
                        &:hover{
                            font-weight: bolder;
                        }
                    }
                }  
            }
        }
    }
}
